* { margin:0; padding:0; } 

body {
	--header-height: 100px;
}

.header {
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
	height: var(--header-height);

	background-color: green;
}

.viewer {
	position: absolute;
	top: var(--header-height);
	left: 0px;

	width: 100%;
	height: calc(100% - var(--header-height));

	background-color: red;
}