body {
	font-family: 'Nunito', Helvetica, sans-serif;
}

#tutorial {
	width: 700px;
	max-width: 90%;
	margin-left: 50%;
	-webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

a:link {
	color: #00E3A0;
	text-decoration: none;
}
a:hover {
	color: #6EF8B0;
}
a:visited {
	color: #00E3A0;
}

.sky {
	z-index: -2;
	position: fixed;
	width: 100%;
	height: 280px;
	top: 0px;
	right: 0px;
	background: linear-gradient(#aef3eb, #ffffff); 
	border: none;
}

.clouds-cat {
	width: calc(100% - 50px);
	height: 100%;
	position: fixed;
	top: 65px;
	left: 60px;
	z-index: -1;
	background-position: left top;
	background-repeat: no-repeat;
	background-image: url('../../img/flashy-in-clouds-2.png');
	opacity: 0.7;
}

h1 {
	margin-top: 50px;
	margin-bottom: 0px;
	width: 100%;
	text-align: left;
	text-align: center;
	font-size: 32px;
}

h2 {
	width: 100%;
	text-align: left;
	font-size: 24px;
}

p {
	text-indent: 0px;
	width: 100%;
	text-align: left;
}

img {
	width: 75%;
	text-align: center;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.subtitle {
	width: 100%;
	text-align: center;
	font-size: 18px;
}

.image-subtitle {
	font-style: italic;
	width: 100%;
	text-align: center;
	font-size: 14px;
}

code {
	font-size: 16px;
	width: 60%;
	margin-left: 20%;
}

.bottom-spacer {
	width: 100%;
	height: 100px;
}

@media only screen and (max-width: 1000px) {
	.clouds-cat {
		opacity: 0.4;
	}
}

@media only screen and (max-width: 700px) {
    /* For mobile phones: */
    h1 {
    	text-align: center;
    }

    .clouds-cat {
		opacity: 0.2;
	}
}
