* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

canvas { display:block; } /* To remove the scrollbars */

hr {
	margin-bottom: 2px;
	margin-top: 2px;
}

#editor {
	display: block;
}

#builtinPlayer {
	display: none;
	background-color: #DDDDDD;
}

.GUIBox {
	position: absolute;
	font-size: 12px;
	font-family: "Open Sans", "Arial", sans-serif;
	background-color: #EEEEEE;

	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;

	margin: 5px;

	border: 1px solid #999999;
	border-radius: 2px;

	box-shadow: 2px 2px 2px #AAA;
}

#menuBarGUI {
	top: 0px;
	left: 0px;
	text-align: center;
	display: block;
}

#splashScreenGUI {
	width: 500px;
	height: 250px;
	top: 0px;
	left: 0px;
	text-align: center;
	display: block;
}

#settingsGUI {
	width: 170px;
	height: 215px;
	top: 0px;
	left: 0px;
	text-align: center;
	display: block;
}

#scriptingGUI {
	bottom: 0px;
	left: 0px;
	text-align: center;
	display: none;
	width: 605px;
	height: 230px;
}
#scriptEditor {
	width: 600px;
	height: 200px;
	text-align: left;
}

#propertiesGUI {
	right: 0px;
	bottom: 0px;
	text-align: center;
	display: inline;
}

#closeScriptingGUIButton {
	right: 5px;
	top: 5px;
	position: absolute;
}

#builtinPlayerGUI {
	top: 0px;
	left: 0px;
	text-align: center;
}

#toolbarGUI {
	top: 100px;
	left: 0px;
	text-align: left;
}

#toolOptionsGUI {
	display: none;
	bottom: 0px;
	left: 0px;
	text-align: left;
}

#rightClickMenu {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #EEEEEE;
	display: none;
}

#tooltipGUI {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #EEEEEE;
	display: none;
}

#popupGUI {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #EEEEEE;
	display: none;
}

.button {
	padding: 3px;
}
.button:hover {
	cursor: pointer;
	background-color: #CACACA;
}
.button:active {
	cursor: pointer;
	background-color: #A0A0A0;
}
.activeScriptButton {
	background-color: #FFFFFF;
}

.buttonInRow {
	float: left;
}

.elemInRow {
	float: left;
}

#timelineGUI {
	top: 0px;
	left: 0px;
	width: 400px;
	text-align: right;
}

#timelineScrollContainer {
	width: 400px;
	overflow-x:scroll;
}

#timeline {
	float:left;
}

.frameContainer {
	width: 20px;
	height: 45px;
	text-align: center;
	float: left;
}

.timelineFrame {
	width: 20px;
	height: 30px;
	background-color: white;
	text-align: center;
	margin-left: 3px;
	margin-top: 3px;
	float: left;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
}
.timelineFrame:hover {
	cursor: pointer;
	background-color: white;
	border: 2px solid black;
}

.timelineFrame.active {
	border: 3px solid black;
}

.breakpointButton {
	width: 20px;
	height: 10px;
	background-color: white;
	opacity: 0.5;
	margin-left: 3px;
	float: left;
}
.breakpointButton:hover {
	background-color: orange;
}
.breakpointButton.enabled {
	background-color: red;
}

#fileImportOverlay {
	visibility: hidden;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: red;
	left: 50%;
	top: 50%;
}

#gifImportDummyElem {
	display: none;
	visibility: hidden;
}

.hidden {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    display: block;
    font-size: 1;
    z-index: -1;
    color: transparent;
    background: transparent;
    overflow: hidden;
    border: none;
    padding: 0;
    resize: none;
    outline: none;
    -webkit-user-select: text;
    user-select: text;
    /* Because for user-select:none, Safari won't allow input */
}

#paperCanvas {
	position: absolute;
	top: 0; left: 0;
	/*display: none;*/
}

#dropToUploadFileAlert {
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-color: red;
	position: absolute;
	display: none;
}
