* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

canvas { display:block; } /* To remove the scrollbars */

hr {
	margin-bottom: 2px;
	margin-top: 2px;
}

#editor {
	display: block;
}

#builtinPlayer {
	display: none;
}

.GUIBox {
	position: absolute;
	font-size: 12px;
	font-family: "Arial", sans-serif;
	background-color: #EEEEEE;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #999999;
}

#menuBarGUI {
	top: 0px;
	left: 0px;
	text-align: center;
	display: block;
}

#scriptingGUI {
	bottom: 10px;
	left: 10px;
	text-align: center;
	visibility: hidden;
}

#propertiesGUI {
	bottom: 10px;
	right: 10px;
	text-align: center;
	display: inline;
}

#builtinPlayerGUI {
	top: 0px;
	left: 0px;
	text-align: center;
}

#toolbarGUI {
	top: 100px;
	left: 0px;
	text-align: left;
}

#toolOptions {
	display: none;
}

#rightClickMenu {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #EEEEEE;
	visibility: hidden;
}

#projectProperties { 
	visibility: visible;
	display: inline;
}
#symbolProperties {
	visibility: hidden;
	display: none;
}
#textProperties {
	visibility: hidden;
	display: none;
}

.button {
	padding: 3px;
}
.button:hover {
	cursor: pointer;
	background-color: #CACACA;
}
.button:active {
	cursor: pointer;
	background-color: #A0A0A0;
}
.activeScriptButton {
	background-color: #FFFFFF;
}

.buttonInRow {
	float: left;
}

#timelineGUI {
	top: 0px;
	left: 0px;
	width: 200px;
}

#timelineScrollContainer {
	width: 200px;
	overflow-x:scroll;
}

#timeline {
	float:left;
}

.timelineFrame {
	width: 20px;
	height: 30px;
	background-color: white;
	text-align: center;
	margin-left: 3px;
	margin-top: 3px;
	float: left;
}
.timelineFrame:hover {
	cursor: pointer;
	background-color: white;
	-moz-box-shadow:    inset 0 0 3px #000000;
	-webkit-box-shadow: inset 0 0 3px #000000;
	box-shadow:         inset 0 0 3px #000000;
}

.timelineFrame.active {
	background-color: yellow;
}

#scriptEditor {
	width: 400px;
	height: 200px;
	text-align: left;
}

#fileImportOverlay {
	visibility: hidden;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: red;
	left: 50%;
	top: 50%;
}

input[type=file] { 
	display: none;
}

.hidden {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    display: block;
    font-size: 1;
    z-index: -1;
    color: transparent;
    background: transparent;
    overflow: hidden;
    border: none;
    padding: 0;
    resize: none;
    outline: none;
    -webkit-user-select: text;
    user-select: text;
    /* Because for user-select:none, Safari won't allow input */
}