.section {
	position: relative;
	width: 60%;
	height: auto;
	left: 50%;
	transform: translateX(-50%);
}

hr {
	width: 50%;
	height: 2px;
    color: #00E3A0;
    background: #00E3A0;
    font-size: 0;
    border: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: 0.5;
}

.top-spacing {
	width: 100%;
	height: 30px;
}

.middle-spacing {
	width: 100%;
	height: 50px;
}

.bottom-spacing {
	width: 100%;
	height: 50px;
}

.about-text {
	font-weight: normal;
	font-size: 18px;
	text-indent: 30px;
	max-width: 700px;
	margin-bottom: 50px;
}

.about-title {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 300px;
	height: auto;
	font-weight: bold;
	font-size: 18px;
	text-indent: 30px;
	max-width: 700px;
	font-size: 40px;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 50px;
}

.spacer-image {
	
}

.supporters {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.supporters-title {
	font-weight: normal;
	width: 100%;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 5px;
}

.supporter-image {
	width: 100px;
	height: auto;
	opacity: 1.0;
	margin-left: 15px;
	margin-right: 15px;
	position: relative;
	/*top: 50%;*/
	transform: translateY(50%);
}
.supporter-image:hover {
	opacity: 0.5;
}

.supporter-images {
	height: 100px;
	width: 100%;
}

.names {
	font-size: 20px;
}

.names-title {
	text-align: center;
	width: 100%;
	margin-bottom: 5px;
}

.names-title-small {
	text-align: center;
	width: 100%;
	margin-bottom: 5px;
	font-size: 16px;
}

.names-list {
	font-weight: normal;
	text-align: center;
	width: 100%;
}

.names-list-small {
	font-weight: normal;
	text-align: center;
	width: 70%;
	margin-left: 15%;
}

.patrons-label {
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 10px;
}
.patrons-group {
	padding-bottom: 30px;
	width: 80%;
	margin-left: 10%;
}
.patrons-large {
	font-weight: normal;
	font-size: 20px;
}
.patrons-medium {
	font-weight: normal;
	font-size: 16px;
}
.patrons-small {
	font-weight: normal;
	font-size: 14px;
}

.contact {
	text-align: center;
	font-weight: normal;
}

.mobile-only {
	display: none;
}
@media only screen and (max-width: 700px) {
    /* For mobile phones: */
    .section {
        width: 90%;
    }
    .mobile-only {
    	display: block;
    }
}

