body {
	--header-height: 40px;
	--accent-bar-height: 12px;

	/* Placeholder for official font (Arial Rounded?) later. */
	font-family: 'Nunito', Helvetica, sans-serif;
	font-weight: bold;
}

a:link {
	color: #00E3A0;
	text-decoration: none;
}

a:hover {
	color: #6EF8B0;
}

a:visited {
	color: #00E3A0;
}

.header {
	position: absolute;

	top: 0px;
	left: 0px;

	width: 100%;
	height: var(--header-height);

	background-color: #00E3A0;
}

.header-bottom {
	position: absolute;

	bottom: 0px;
	left: 0px;

	width: 100%;
	height: 12px;

	background-color: #6EF8B0;
}

.viewer {
	position: absolute;

	top: calc(var(--header-height) + var(--accent-bar-height));
	left: 0px;

	width: 100%;
	height: calc(100% - var(--header-height) - var(--accent-bar-height));

	background-color: #FFFFFF;

	border-top: 0 none!important;

	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid #6EF8B0;

    overflow: hidden;
}

#viewer-frame {
	width: 100%;
	height: 100%;
	border:0 none;
}

.footer {
	position: absolute;

	left: 6px;
	bottom: 6px;

	font-size: 18px;
	font-style: italic;
	font-weight: normal;
	color: #666;
}

.wick-menu-bar {
	color:white!important;
	background-color:#3ee09e!important;
}

.w3-sidebar {
	background-color:#23c07d!important;
}

.top-bar-item {
	padding:8px 16px!important;
	height: var(--header-height);
	vertical-align: middle;
	text-align: middle!important;
	color:white!important;
}
.top-bar-item:hover {
	color:white!important;
	background-color:#23c07d!important
}

.side-bar-item:hover {
	color:white!important;
	background-color:#3ee09e!important;
}

.w3-bar {
	height:40px!important;
	padding:0px!important;
}

.w3-button {
	align:center;
	height: 100%
	padding:2px 16px!important;
}

#accent-bar {
	position: absolute;
	top: var(--header-height);
	left: 0px;
	height:var(--accent-bar-height);
	width:100%;
	background-color: #d4f8f4;
}

.logo {
	width: 150px;
	height: 45px;
}

#logo-image {
	position: absolute;
	top: 5px;
	left: 30px;
	width: 30px;
	height: 30px;
}

#header-title {
	position: absolute;
	left: 70px;
	top: 4px;
	font-size: 18px;
}

.sky {
	z-index: -2;
	position: fixed;
	width: 100%;
	height: 280px;
	top: 0px;
	right: 0px;
	background: linear-gradient(#aef3eb, #ffffff); 
	border: none;
}

.clouds-angel {
	width: calc(100% - 50px);
	height: 100%;
	position: fixed;
	top: 65px;
	left: 0px;
	z-index: -1;
	background-position: right top;
	background-repeat: no-repeat;
	background-image: url('../img/flashy-in-clouds.png');
	opacity: 1.0;
}

.clouds-cat {
	width: calc(100% - 50px);
	height: 100%;
	position: fixed;
	top: 65px;
	left: 60px;
	z-index: -1;
	background-position: left top;
	background-repeat: no-repeat;
	background-image: url('../img/flashy-in-clouds-2.png');
	opacity: 1.0;
}

.title-box {
    left: 0px;
    top: 60px;
    margin-top: 80px;

    width: 30%;
    height: 200px;

    display: block;
}


.title {   
    font-weight: bold;

    font-size: 40px;

    margin-left: 25%;
}

.title-description {
    font-size: 18px;

    font-weight: normal;

    margin-top: 10px;

    margin-left: 25%;
}

.bottom-spacer {
	width: 100%;
	height: 100px;
}

@media only screen and (max-width: 1000px) {
	.clouds-cat {
		opacity: 0.7;
	}
}

@media only screen and (max-width: 700px) {
    /* For mobile phones: */
    .title-box {
        display: block;
        width: 100%;
        height: 120px;
        text-align: center;
    }
    .title {
    	margin-left: 0px;
    	width: 100%;
    }
    .title-description {
    	margin-left: 0px;
    	width: 100%;
    }
    .clouds-angel {
    	opacity: 0.3;
    }
    .clouds-cat {
    	opacity: 0.3;
    }
}
