body {
	--header-height: 60px;

	/* Placeholder for official font (Arial Rounded?) later. */
	font-family: 'Nunito', Helvetica, sans-serif; 
	font-weight: bold;
}

a:link {
	color: #00E3A0;
	text-decoration: none;
}

a:hover {
	color: #6EF8B0;
}

a:visited {
	color: #00E3A0;
}

.header {
	position: absolute;

	top: 0px;
	left: 0px;

	width: 100%;
	height: var(--header-height);

	background-color: #00E3A0;
}

.header-bottom {
	position: absolute;

	bottom: 0px;
	left: 0px;

	width: 100%;
	height: 12px;

	background-color: #6EF8B0;
}

.viewer {
	position: absolute;

	top: var(--header-height);
	left: 0px;

	width: 100%;
	height: calc(100% - var(--header-height));

	background-color: #FFFFFF;

	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid #6EF8B0;

    overflow: hidden;
}

#viewer-frame {
	width: 100%;
	height: 100%;
	border: none;
}

.footer {
	position: absolute;

	left: 6px;
	bottom: 6px;

	font-size: 18px;
	font-style: italic;
	font-weight: normal;
	color: #666;
}

.logo {
	position: absolute;

	width: 200px;

	top: 7px;
	left: 20px;

	cursor: pointer;
}

.logo-image {
	position: absolute;

	top: 0px;
	left: 0px;

	width: 34px;
	height: 34px;

	background-image: url(/site/img/flashy.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 34px 34px;
}

.logo-text {
	position: absolute;

	top: 1px;
	left: 50px;

    font-size: 24px;
}

.logo-text-version {
	position: absolute;

	top: 13px;
	left: 115px;

    font-size: 12px;
}

.menu-button {
	position: absolute;

	top: 12px;
	right: 0px;

	width: 34px;
	height: 34px;

    font-size: 18px;
	color: white;

	cursor: pointer;
}

.menu-button:hover {
	color: orange;
}

#gallery-button {
	right: 420px;
}

#tutorials-button {
	right: 315px;
}

#reference-button {
	right: 200px;
}

#about-button {
	right: 80px;
}

