body {
	margin: 0px;
}

.player-container {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 60%;
	height: 100%;
}

.thumbnails-container {
	position: absolute;
	left: 60%;
	top: 0px;
	width: 40%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	text-align: right;
}

.thumbnails-container-spacer {
	width: 100%;
	height: 25px;
}

.thumbnail {
	width: 150px;
	height: 100px;
	background-color: white;
	opacity: 1.0;
	margin: 5px;
	cursor: pointer;
	float: left;
	background-size: 100% 100%;
	border-radius: 5px;
	box-shadow: 3px 3px 5px #99BBBB;
	overflow: hidden;
}
.thumbnail:hover {
	opacity: 0.6;
}

.thumb-title {
	position: relative;
	width: 100%;
	margin-top: calc(50% + 10px);
	text-align: right;
	font-weight: normal;
	font-size: 10px;
	height: 20px;
}

.player {
	position: relative;
	width: 720px;
	height: 480px;
	top: 45%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	border: none;
	box-shadow: 0px 0px 2px #99BBBB;
}

#open-in-editor-button {
	display: none;

	position: absolute;
	bottom: 25px;
	left: calc(30%);
	transform: translateX(-50%);
	width: 275px;
	height: 65px;
	background-color: red;

	cursor: pointer;

	background-color: #00E3A0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 10px solid #6EF8B0;

    border-radius: 50px;
    text-align: center;
    font-size: 22px;

    padding-top: 8px;
}
#open-in-editor-button:hover {
	background-color: #6EF8B0;
}
