body {
	margin: 0px;
}

.player-container {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.thumbnails-container {
	position: absolute;
	left: 0%;
	top: 600px;
	width: 100%;
	height: auto;
	text-align: right;
	padding-bottom: 100px;
}

.thumbnails-container-spacer {
	width: 100%;
	height: 25px;
}

.thumbnail {
	width: 150px;
	height: 100px;
	background-color: white;
	opacity: 1.0;
	margin: 5px;
	cursor: pointer;
	float: left;
	background-size: 100% 100%;
	border-radius: 5px;
	box-shadow: 3px 3px 5px #99BBBB;
	overflow: hidden;

	-webkit-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    transition: opacity 0.1s;
}
.thumbnail:hover {
	opacity: 0.6;
}

.thumb-title {
	position: relative;
	width: 100%;
	margin-top: calc(50% + 10px);
	text-align: left;
	font-weight: normal;

	padding-left: 4px;
	font-size: 10px;
	font-weight: bold;
	height: 20px;
}

.player {
	position: relative;
	width: 720px;
	height: 480px;
	top: 25px;
	left: 50%;
	transform: translateX(-50%);
	border: none;
	box-shadow: 0px 0px 2px #99BBBB;
}

#open-in-editor-button {
	/*display: none;*/

	position: absolute;
	top: 530px;
	left: 50%;
	transform: translateX(-50%);
	width: 275px;
	height: 65px;
	background-color: red;

	cursor: pointer;

	background-color: #00E3A0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 10px solid #6EF8B0;

    border-radius: 50px;
    text-align: center;
    font-size: 22px;

    padding-top: 8px;
}
#open-in-editor-button:hover {
	background-color: #6EF8B0;
}
