html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.github-widget {
	position:absolute;
	left:5px;
	top:5px;
}

.github-message {
	text-align: center;
	width: 140px;
	height: 40px;
	font-size: 10px;
	font-weight: normal;
	position: absolute;
	top: 40px;
	left: 5px;
}

.version-number {
	text-decoration: underline;
	position: absolute;
	width: 145px;
	height: 30px;
	text-align: center;
	top: 5px;
	right: 5px;
}
.last-updated {
	position: absolute;
	width: 145px;
	height: 30px;
	text-align: center;
	font-size: 12px;
	top: 25px;
	right: 5px;
	color: #555;
}

#player-container {
	margin-left: 50%;
	margin-top: 0%;
	width: 720px;
	height: 480px;
	transform: translateX(-50%);
}
.player {
	position: relative;
	width: 720px;
	height: 480px;
	border: none;
}

.homepage-image-alt {
	width: 720px;
	max-width: 90%;
	margin-left: 5%;
}
.homepage-image {
	width: 95%;
	margin-left: 2.5%;
}
.whats-wick-button {
	text-align: center;
	font-size: 46px;
	text-decoration: underline;
	margin-top: 30px;
}

.home-message {
	position: absolute;

	/*width: 50%;*/
	width: 500px;
	max-width: 95%;

	left:50%;
	top: 37%;

	transform:translateX(-50%) translateY(-50%);
}

.launch-editor-button {
	margin-left: 50%;
	margin-bottom: 0%;
	margin-top: 10px;

	height: 100px;
	width: 300px;

	transform:translateX(-50%);

	cursor: pointer;

	background-color: #00E3A0;

	background-image: url(../img/launch-editor.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 23px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 10px solid #6EF8B0;

    border-radius: 50px;
}

.launch-editor-button:hover {
	background-color: #6EF8B0;
}

.launch-editor-button-subtitle {
	margin-left: 50%;
	margin-bottom: 0%;
	margin-top: 10px;

	height: 20px;
	width: 400px;
	text-align: center;

	font-size: 14px;
	font-weight: normal;
	color: #333;

	transform:translateX(-50%);
}
.subtitle2 {
	margin-top: 0px;
	font-weight: bold;
}

.w3-button {
	color: white; 
}

.desktop {
	position: absolute;
	display: block;
	top: 50%;
	transform:translateY(-50%);
	width: 100%;
	height: 650px;
}
.mobile {
	display: none;
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
	width: 100%;
	height: 500px;
}
@media only screen and (max-width: 700px) {
	.link-button {
		width: 90%;
		height: 160px;
	}
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
}
