body {
	height: 200%;
	overflow-x: hidden;
}

.top-page {
	position: absolute;
	height: 608px;
	width: 100%;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
}

.bottom-page {
	position: absolute;
	top: 97%;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: #d4f8f4;
}

.home-message {
	position: absolute;

	/*width: 50%;*/
	width: 500px;
	max-width: 95%;

	left:50%;
	top: 37%;

	transform:translateX(-50%) translateY(-50%);
}

.launch-editor-button {
	margin-left: 50%;
	margin-bottom: 0%;
	margin-top: 10px;

	height: 100px;
	width: 300px;

	transform:translateX(-50%);

	cursor: pointer;

	background-color: #00E3A0;

	background-image: url(../img/launch-editor.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 23px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 10px solid #6EF8B0;

    border-radius: 50px;
}

.launch-editor-button:hover {
	background-color: #6EF8B0;
}

.w3-button {
	color: white; 
}

.tweetbox {
	position: absolute;
	right: 0px;
	top: 10%;
	width: 300px;
	height: 80%;
	overflow-y: scroll;
}

#player-container {
	margin-left: 50%;
	margin-top: 0%;
	width: 720px;
	height: 480px;
	transform: translateX(-50%);
}
.player {
	position: relative;
	width: 720px;
	height: 480px;
	border: none;
}
