body {
    font-weight: normal;
}

.toc {
    margin-left: 0px;
    margin-top: 20px;
    top: 0px;
    font-size: 20px;

    width: 100%;

    font-weight: normal; 
    display: inline-block;

    overflow: hidden; 
}

.toc-item {
    cursor: pointer;
    max-width: auto;
    display: block;

    margin-left: 25%;
    padding-left: 5px;

    border-radius: 15px;
}
.toc-item:hover {
    background-color: #00E3A0;
    color: white;
}

.docs {
    margin-left: 35%;
    margin-top: 166px;

    width: 55%;
    margin-bottom: 100px;
}

.group {
    margin-bottom: 50px;
}

.group-title {
    font-size: 26px;
    font-weight: bold;
}

.group-title-hr {
    border: 1px solid #00E3A0;
    border-radius: 1px;
}

.group-properties {
}

.property {
}

.property-hr {
    background-color: #CCC;
    border: 0; 
    height: 1px; 
}

.property-title {
    cursor: pointer;
    border-radius: 10px;
    padding-left: 5px;
}
.property-title:hover {
    background-color: #00E3A0;
}

.property-content {
    margin-left: 20px;

    max-height: 0px;
    overflow: hidden;

    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
}

.property-subtitle {
    font-weight: bold;
}

.property-description {
    margin-top: 20px;
    margin-bottom: 20px;
}

.property-parameters {
}

.property-parameter {
    margin-left: 30px;
    margin-bottom: 20px;
}

.property-returns {
    margin-left: 30px;
    margin-bottom: 20px;
}

.property-example {
    font-size: 16px;
    margin-left: 30px;
}

.property-example-code {
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
}

.title-box {
    position: fixed;

    margin-top: 0px;
}

@media only screen and (max-width: 700px) {
    .toc {
        top: 150px;
        left: 0px;
        display: none;
    }
    .docs { 
        margin-top: 0px;
        margin-left: 5%;
        width: 90%;
    }
    .title-box {
        position: static;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .title-description {
        width: 200px;
        max-width: 100%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}
