.tutorials-container {
	margin-top: 50px;
}

.tutorial {
	width: 500px;
	height: 150px;
	background-color: white;
	opacity: 1.0;
	margin: 5px;
	cursor: pointer;
	background-size: 100% 100%;
	border-radius: 3px;
	box-shadow: 3px 3px 5px #99BBBB;
	overflow: hidden;
	margin-left: 65%;
	transform: translateX(-50%);
	max-width: 100%;
	margin-bottom: 20px;

	background-color: transparent;

	-webkit-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    transition: opacity 0.1s;
}
.tutorial:hover {
	opacity: 0.6;
}

.tutorial-title {
	width: 100%;
	text-align: center;
	font-weight: normal;

	padding-left: 4px;
	font-size: 14px;
	font-weight: bold;
	height: 20px;

	margin-top: 130px;

	background-color: rgba(255,255,255,0.8);
}

.subtitle {
	padding-top: 40px;
	padding-bottom: 50px;
	height: 30px;
	width: 100%;
	text-align: center;
	font-size: 30px;
}

.submit-a-tutorial {
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	color: black;
}
.tutorial-title {
	color: black;
}
.tutorial-title:hover {
	color: black;
}
.tutorial-title:visited {
	color: black;
}

.title-box {
    position: fixed;
    margin-top: 0px;
    height: 220px;
}

@media only screen and (max-width: 700px) {
	.tutorials-container {
		margin-top: 0px;
	}
    .title-box {
        position: static;
        margin-top: 70px;
        margin-bottom: 50px;
    }
    .title-description {
        width: 200px;
        max-width: 100%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .tutorial {
    	margin-left: 50%;
    }
}
