.tutorial {
	width: 500px;
	height: 150px;
	background-color: white;
	opacity: 1.0;
	margin: 5px;
	cursor: pointer;
	background-size: 100% 100%;
	border-radius: 3px;
	box-shadow: 3px 3px 5px #99BBBB;
	overflow: hidden;
	margin-left: 50%;
	transform: translateX(-50%);
	max-width: 100%;
	margin-bottom: 20px;

	background-color: transparent;

	-webkit-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    transition: opacity 0.1s;
}
.tutorial:hover {
	opacity: 0.6;
}

.tutorial-title {
	width: 100%;
	text-align: left;
	font-weight: normal;

	padding-left: 4px;
	font-size: 14px;
	font-weight: bold;
	height: 20px;

	margin-top: 130px;

	background-color: rgba(255,255,255,0.8);
}

.subtitle {
	padding-top: 40px;
	padding-bottom: 50px;
	height: 30px;
	width: 100%;
	text-align: center;
	font-size: 30px;
}
