body {
    font-weight: normal;
}

.updates {
    margin-left: 35%;
    margin-top: 136px;

    width: 55%;
    margin-bottom: 100px;
}

.update {
  padding-top: 15px;
  padding-bottom: 15px;
}

h4 {
  margin-top: 0px;
  text-align: center;
}
h2 {
  margin-bottom: 0px;
  text-align: center;
}

.title-box {
    position: fixed;

    margin-top: 0px;
}

@media only screen and (max-width: 700px) {
    .updates {
        margin-top: 0px;
        margin-left: 5%;
        width: 90%;
    }
    .title-box {
        position: static;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .title-description {
        width: 200px;
        max-width: 100%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}
