#inspectorGUI {
    right: 0px;
    top: 0px;
    margin-top: 30px;
    height: calc(100% - 25px);
    width: 210px;
    display: inline;
    overflow: hidden;
    border-right: 0px;
    border-bottom: 0px;
    font-family: "Open Sans";
    padding: 5px;
}

#inspector-title {
	color: #BBB;
	text-align: center;
	background-color: #666;
	width: 100%;
	border-radius: 3px;
}

.inspector-selection-icon {
	width: 50px;
	height: 50px;

	background-repeat: no-repeat;
    background-position: center;
    text-overflow: clip;
    overflow: hidden;
    background-size: 60% 60%;
    float: left;
}

.inspector-title-bar {
	height: 50px;
	width: 100%;
}

.inspector-selection-title {
	color: white;
	font-size: 20px;
	width: calc(100% - 55px);
	height: 45px;
	float: right;
	margin-top: 12px;
	margin-left: 5px;
}

.inspector-allitems-container {
	width: 100%;
	height: 59%;
	overflow-y: auto;
}

.inspector-properties-container {
	width: 100%;
	height:auto;
	padding-top: 5px;
	padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inspector-buttons-container {
	width: calc(100% - 20px);
	padding-left: 10px;
	height:auto;
	padding-bottom: 15px;

	display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inspector-icon {
	width: 16px;
	height: 16px;
}

/***************************************************************/

.inspector-property {
	height: 28px;
	width: 95%;
	overflow: hidden;
}

.inspector-input-title {
	color: white;

	width: calc(28% - 15px);
	padding-right: 10px;
	height: 20px;

	font-size: 11.5px;
	padding-top: 4px;

	float: left;

	text-align: right;
}
.inspector-input-title-small {
	width: 10%;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

.inspector-input-string {
	border-radius: 4px;

	width: 65%;
	height: 22px;

	float: left;
	margin-bottom: 4px;

	text-align: center;

	font-size: 14px;
}
.inspector-input-string-small {
	width: 25%;
}
.inspector-input-string-tiny {
	width: 15%;
}

.inspector-input-slider {
	width: 45%;
	-webkit-appearance: none;
    height: 22px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 10px;
    border-radius: 3px;
}
.inspector-input-slider:hover {
	opacity: 1.0;
}
.inspector-input-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 22px;
    background: #fff;
    cursor: pointer;
    border-radius: 2px;
}
.inspector-input-slider::-moz-range-thumb {
    width: 22px;
    height: 22px;
    background: #fff;
    cursor: pointer;
    border-radius: 2px;
}

.inspector-input-checkbox {
	width: 50%;
	height: 16px;

	float: left;
	margin-top: 4px;
	margin-bottom: 4px;
}

.inspector-input-togglebutton {
	width: 21.4px;
	height: 22px;
	border-radius: 2px;
	cursor: pointer;

	float: left;
	margin-top: 0px;
	margin-bottom: 4px;
	margin-right: 3px;

	border: 1px solid #FFF;
	background-color: rgba(0,0,0,0);
	opacity: 1.0;

	background-repeat: no-repeat;
    background-position: center;
    text-overflow: clip;
    overflow: hidden;
    background-size: 70% 70%;
    float: center;
}
.inspector-input-togglebutton:hover {
	background-color: #444;
}
.inspector-input-togglebutton:active {
	
}
.inspector-input-togglebutton-activated {
	background-color: #CCC;
}
.inspector-input-togglebutton:hover {
	background-color: #AAA;
}

.inspector-input-select {
	width: 65%;
	height: 22px;

	float: left;
	margin-bottom: 4px;
}

.inspector-color-picker {
	width: 65%;
	height: 22px;

	float: left;
	margin-bottom: 0px;
	/*margin-left: 16px;
	margin-right: 16px;*/

	overflow: hidden;

	border: 1px solid white;
	border-radius: 3px;

	cursor: pointer;
	opacity: 1.0;
}
.inspector-color-picker:hover {
	opacity: 0.8;
}

.inspector-color-picker-small {
	width: 24%;
}

.inspector-button {
	width: 30px;
	height: 30px;

	margin: 6px;

	border-radius: 4px;

    background-repeat: no-repeat;
    background-position: center;
    text-overflow: clip;
    overflow: hidden;
    background-size: 60% 60%;

    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);

    cursor: pointer;

    opacity: 1.0;

    -webkit-transition: opacity 100ms linear;
    -ms-transition: opacity 100ms linear;
    transition: opacity 100ms linear;
}

.inspector-button-common {
	background-color: #4ECDC4;
}

.inspector-button-multiple {
	background-color: #556270;
}

.inspector-button-symbol {
	background-color: #FF6B6B;
}

.inspector-button-all-paths {
	background-color: #FF6B6B;
}

.inspector-button-frames {
	background-color: #C44D58;
}

.inspector-button-playranges {
	background-color: #C44D58;
}

.inspector-button-tweens {
	background-color: #556270;
}

.inspector-divider {
	width: 100%;
	height: 0px;
	clear: left;
}

/***************************************************************/

.inspector-button:hover {
	opacity: 1.0;
}

.inspector-button:hover {
	opacity: 0.7;
}

.inspector-button:active {
	opacity: 0.3;
}
