#inspectorGUI {
    right: 0px;
    top: 0px;
    margin-top: 30px;
    height: calc(100% - 25px);
    width: 240px;
    display: inline;
    overflow: hidden;
    border-right: 0px;
    border-bottom: 0px;
    font-family: "Open Sans";
    padding: 5px;
}

#inspector-title {
	color: #BBB;
	text-align: center;
	background-color: #666;
	width: 100%;
	border-radius: 3px;
}

.inspector-selection-icon {
	width: 50px;
	height: 50px;

	background-repeat: no-repeat;
    background-position: center;
    text-overflow: clip;
    overflow: hidden;
    background-size: 60% 60%;
    float: left;
}

.inspector-title-bar {
	height: 50px;
	width: 100%;
}

.inspector-selection-title {
	color: white;
	font-size: 20px;
	width: calc(100% - 50px);
	height: 50px;
	float: right;
	margin-top: 10px;
}

.inspector-allitems-container {
	width: 100%;
	height: calc(100% - 125px);
	overflow-y: auto;
}

.inspector-properties-container {
	width: 100%;
	display:inline-block;
}

.inspector-buttons-container {
	width: calc(100% - 30px);
	display:inline-block;

	margin-left: 25px;

	padding-top: 10px;
}

/***************************************************************/

.inspector-input-title {
	color: white;

	width: 100px;
	height: 20px;

	font-size: 14px;

	float: left;
	margin-bottom: 2px;

	text-align: right;

	margin-left: 5px;
}

.inspector-input-string {
	border-radius: 4px;

	width: 100px;
	height: 20px;

	float: left;
	margin-bottom: 4px;
	margin-left: 7px;
}

.inspector-input-checkbox {
	width: 100px;
	height: 16px;

	float: left;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 7px;
}

.inspector-input-select {
	width: 100px;
	height: 20px;

	float: left;
	margin-left: 7px;
	margin-bottom: 4px;
}

.inspector-input-color {
	width: 100px;
	height: 24px;

	float: left;
	margin-bottom: 0px;
	margin-left: 7px;

	overflow: hidden;
}

.inspector-button {
	width: 30px;
	height: 30px;

	float: left;
	margin: 5px;

	border-radius: 4px;

    background-repeat: no-repeat;
    background-position: center;
    text-overflow: clip;
    overflow: hidden;
    background-size: 60% 60%;

    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);

    cursor: pointer;

    opacity: 1.0;

    -webkit-transition: opacity 100ms linear;
    -ms-transition: opacity 100ms linear;
    transition: opacity 100ms linear;
}

.inspector-button-common {
	background-color: #4ECDC4;
}

.inspector-button-multiple {
	background-color: #556270;
}

.inspector-button-symbol {
	background-color: #C7F464;
}

.inspector-button-all-paths {
	background-color: #FF6B6B;
}

.inspector-button-frames {
	background-color: #C44D58;
}

.inspector-button-playranges {
	background-color: #C44D58;
}

.inspector-divider {
	width: 100%;
	height: 0px;
	clear: left;
}

/***************************************************************/

.inspector-button:hover {
	opacity: 1.0;
}

.inspector-button:hover {
	opacity: 0.7;
}

.inspector-button:active {
	opacity: 0.3;
}
