#treeContainer {
	position: absolute;
	bottom: 60px;
	left: 10px;
    right: 10px;
	/*width: calc(100% - 20px);*/
	height: 200px;
	overflow: hidden;
  	border-radius: 3px;
    display: table; 
}

#asset-library-title {
	color: white;
	margin-bottom: 3px;
}

#tree {
  	border-radius: 0px 0px 2px 2px;
	position: absolute;
	width: 100%;
	border: none;
	background-color: white;
	height: 175px;
	overflow-y: auto;
	background-color: #CFCFCF;
}

#draggedAsset {
	position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    pointer-events: none;
    width: 100px;
    height: 100px;
    opacity: 0.6;
    transform: translateX(-50%) translateY(-50%);
    background-size: 100px 100px;
}

#fancytree-container {
	border-radius: 2px;
	background-color: rgba(0,0,0,0);
}

#treeOptionsContainer {
    height: 50px;
    background-color: #000000;
    width: 100%;
    display: table-footer-group;
}