#treeContainer {
	position: absolute;
	bottom: 20px;
	left: 10px;
	width: calc(100% - 20px);
	height: 200px;
	overflow: hidden;
  	border-radius: 5px;
}

#asset-library-title {
	color: white;
	margin-bottom: 3px;
}

#tree {
  	border-radius: 5px;
	position: absolute;
	width: 100%;
	border: none;
	background-color: white;
	height: 200px;
	overflow-y: auto;
}

#draggedAsset {
	position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    pointer-events: none;
    width: 100px;
    height: 100px;
    opacity: 0.6;
    transform: translateX(-50%) translateY(-50%);
    background-size: 100px 100px;
}