#treeContainer {
	position: absolute;
	bottom: 60px;
	left: 10px;
    right: 10px;
	width: calc(100% - 20px);
	height: 200px;
	overflow: hidden;
  	border-radius: 3px;
}

#asset-library-title {
	color: white;
	margin-bottom: 3px;
}

#tree {
  	border-radius: 0px 0px 2px 2px;
	position: absolute;
	width: 100%;
	border: none;
	background-color: white;
	height: 175px;
	overflow-y: auto;
	background-color: #CFCFCF;
}

#draggedAsset {
	position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    pointer-events: none;
    width: 100px;
    height: 100px;
    opacity: 0.6;
    transform: translateX(-50%) translateY(-50%);
    background-size: 100px 100px;
}

#fancytree-container {
	border-radius: 2px;
	background-color: rgba(0,0,0,0);
}

#treeFilterInput {
    color: #4E4D4D;
    width: 100%;
    padding-left: 2px;
    background: #A2A2A2 url(../resources/icon_search.png) no-repeat scroll 3px 3px;
    background-size: 12px 12px;
    padding-left:20px;
    text-overflow: ellipsis; 
    display: block;
    border-radius: 2px 2px 0px 0px;

}

#treeOptionsContainer {
    position: absolute;
    height: 20px;
    background-color: #CFCFCF;
    width: 100%;
    bottom: 0px;
    border-top: #A2A2A2 1px solid;
    border-radius: 0px 0px 2px 2px;
}

.assetLibraryButton {
    padding-right:2px;
    text-align: right; 
}

#deleteAssetButton {
    background: #A2A2A2 url(../resources/delete_layer.svg) no-repeat scroll;
}