#treeContainer {
	position: absolute;
    top: 70%;
    bottom: 40px;
	left: 10px;
    right: 10px;
    /*height: 100%;*/
	width: calc(100% - 20px);
	overflow: hidden;
  	border-radius: 3px;
}

#asset-library-title {
	width: 100%;
	font-weight: 500;
	color: white;
	margin-bottom: 1px;
	text-align:  center;
}

#tree {
  	position: absolute;
  	width: 100%;
  	border: none;
  	background-color: white;
  	height: calc(100% - 60px);
  	overflow-y: auto;
  	background-color: var(--ui-complement);
  	box-sizing:border-box;
}

#draggedAsset {
	position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    pointer-events: none;
    width: 100px;
    height: 100px;
    opacity: 0.6;
    transform: translateX(-50%) translateY(-50%);
    background-size: 100px 100px;
}

#fancytree-container {
	border-radius: 2px;
	background-color: rgba(0,0,0,0);
}

#treeFilterInput {
    color: var(--ui-black);
    width: 100%;
    background: var(--ui-white) url(../resources/icon_search.png) no-repeat scroll 3px 3px;
    background-size: 12px 12px;
    padding-left:20px;
    text-overflow: ellipsis; 
    display: block;
    border-radius: 3px 3px 0px 0px;
    box-sizing:border-box;

}

#treeOptionsContainer {
    position: absolute;
    height: 16px;
    background-color: var(--ui-base-light1);
    width: 100%;
    bottom: 3px;
    border-radius: 0px 0px 3px 3px;
}

.fancytree-expander {
    width: 1px !important; 
    height: 1px !important; 
}

span.fancytree-title {
    border-radius: 3px !important; 
    color: #585757     !important;
}

.fancytree-plain.fancytree-container.fancytree-treefocus span.fancytree-active span.fancytree-title,
.fancytree-plain.fancytree-container.fancytree-treefocus span.fancytree-selected span.fancytree-title {
    background-color: #CFCFCF !important;
    border-color: #585757     !important;
    color:#585757             !important;
}

span.fancytree-title:hover {
    background-color: #585757 !important; 
    border-color: #585757     !important;
    color: #CFCFCF            !important;
}

span.fancytree-title:active {
    background-color: #585757 !important; 
    border-color: #585757     !important;
    color: #CFCFCF            !important;
}

.assetLibraryButton {
    height: 16px;
    width: 15px;
    float: right;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
    margin-right: 4px;
    padding-right: 2px;
}

.assetLibraryButton:hover {
    background: var(--ui-accent1);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.assetLibraryButton:active {
    background: var(--ui-base-light2);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#deleteAssetButton {
    background-image: url(../resources/delete-layer.svg);
}

#renameAssetButton {
    background-image: url(../resources/inspector-icons/name.svg);
    background-size: 14px;
}
