#scriptingGUI {
    bottom: 0px;
    left: 40px;
    text-align: center;
    width: calc(100% - 290px);
    height: 300px;
    z-index: 4;
    transition: height 0.2s ease;
}

#errorMessage {
    margin-left: 3px;
    margin-top: 3px;
    color: red;
    display:hidden;
    position: absolute;
    font-weight: bold;
}

#scriptObjectDiv {
    width: 100%;
    height: 100%;
}

#scriptEditor {
    text-align: left;
    width: calc(100% - 150px);
    height: calc(100% - 50px);
    left: 149px;
    top: 30px;
    font-size: 14px;
    border-style: solid;
    border-width: 1px;
    border-color: #AAA;
}

#scriptEditorSidebar {
    position: absolute;
    width: calc(149px);
    height: calc(100% - 50px);
    left: 0px;
    top: 30px;
    background-color: #333;

    border-style: solid;
    border-width: 1px;
    border-color: #AAA;

    overflow-x: hidden;
    overflow-y: auto;
}

#scriptEditorObjectName {
    position: absolute;
    width: 100%;
    height: 30px;
    top: 0px;
    left: 0px;
    color: white;
    overflow: hidden;
}

#scriptEditorObjectThumbnail {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 30px;
    left: 0px;
}

#scriptingIDEHeader {
    left: 0px;
    top: 0px;
    width: calc(100% - 7px);
    height: 23px;
    position: absolute;
    color: white;
    padding-top: 7px;
    padding-left: 7px;
    text-align: left;

    background-color: none;
    cursor: pointer;

    box-shadow: none;

    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
#scriptingIDEHeader:hover {
    box-shadow: inset 0 0 3px #fff;
}

#closeScriptingGUIButton {
    right: 5px;
    top: 2px;
    position: absolute;
    border-radius: 3px;
}

#openScriptingGUIButton {
    right: 5px;
    top: 2px;
    position: absolute;
}

#beautifyButton {
    right: 53px;
    top: 2px;
    position: absolute;
}

#expandScriptingGUIButton {
    right: 30px;
    top: 2px;
    position: absolute;
}

#minimizeScriptingGUIButton {
    right: 30px;
    top: 2px;
    position: absolute;
}

#noSelectionDiv {
    margin-top: 135px;
    color: #FFFFFF;
}

/* reference section */

#scriptEditorReference {
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.sidebarGroup {
    text-align: left;
    overflow: hidden;
    height: 16px;
    cursor: pointer;
}

.sidebarTitle {
    font-weight: bold;
    margin-left: 6px;
    border-radius: 3px;
    color: #BBB;
    padding-left: 3px;

    -webkit-transition: background-color 50ms linear;
    -ms-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
    -webkit-transition: color 50ms linear;
    -ms-transition: color 50ms linear;
    transition: color 50ms linear;
}
.sidebarTitle:hover {
    background-color: #31E19C;
    color: black;
}

.sidebarGroupElement {
    cursor: pointer;
    margin-left: 18px;
    border-radius: 3px;
    color: #BBB;
    padding-left: 3px;
}
.sidebarGroupElement:hover {
    background-color: #31E19C;
    color: black;

    -webkit-transition: background-color 50ms linear;
    -ms-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
    -webkit-transition: color 50ms linear;
    -ms-transition: color 50ms linear;
    transition: color 50ms linear;
}