body {
	--playhead-width: 2px;

	--vertical-spacing: 35px;
	--common-padding: 4px;

	--layers-width: 70px;

	--frame-width: 50px;
	--frame-handle-width: 5px;
	--frames-strip-shrink-factor: 6px;

	--shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
	--border: inset 0px 0px 1px #555;
}

.timeline {
	background-color: #FFFFFF;

	margin: 0px;
	padding: 0px;

	width: 100%;
	height: 100px;

	overflow: hidden;
}

.playhead {
	background-color: #444;

	width: var(--playhead-width);
	height: 100%;

	pointer-events: none;

	position: absolute;
}

.layers {
	background-color: #EEE;

	width: var(--layers-width);
	height: 100%;
	left: 0px;
	top: 0px;

	position: absolute;
	overflow: hidden;

	box-shadow: var(--border);
}

.layer {
	background-color: #FFFFFF;

	width:  calc(100% - var(--common-padding));
	height: calc(var(--vertical-spacing) - var(--common-padding));

	margin: calc(var(--common-padding) / 2);

	position: absolute;

	cursor: move;

	box-shadow: var(--border), var(--shadow);

	font-size: 12px;
}

.frames {
	background-color: #EEE;

	width: calc(100% - var(--layers-width));
	height: 100%;
	left: var(--layers-width);
	top: 0px;

	position: absolute;
	overflow: hidden;

	box-shadow: var(--border);
}

.framesStrip {
	background-color: #FFF;

	width: 100%;
	height: calc(var(--vertical-spacing) - var(--frames-strip-shrink-factor)*2);

	margin-top: var(--frames-strip-shrink-factor);

	position: absolute;

	box-shadow: var(--border);

	overflow: hidden;

	/*pointer-events:none;*/
}

.framesStripCell {
	background-color: #FFF;

	width: var(--frame-width);
	height: calc(var(--vertical-spacing) - var(--frames-strip-shrink-factor)*2);

	box-shadow: var(--border);

	float:left;
}

.frame {
	background-color: #FFFFFF;

	cursor: move;

	width:  calc(var(--frame-width)      - var(--common-padding));
	height: calc(var(--vertical-spacing) - var(--common-padding));

	margin: calc(var(--common-padding) / 2);

	position: absolute;
	overflow: hidden;

	box-shadow: var(--border), var(--shadow);
}

.frame-thumbnail {
	width:  calc(100% - 2px);
	height: calc(100% - 2px);
	left: 1px;
	top:  1px;
	position: absolute;
	pointer-events: none;
}

.frame-extender-handle {
	background-color: #000000;

	cursor: ew-resize;
	width: var(--frame-handle-width);
	height: 100%;

	opacity: 0.0;
}

.frame-extender-handle-right {
	float:right;
}

.frame-extender-handle-left {

}

.selection-overlay {
	width:  100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
	box-shadow: inset 0px 0px 0px 2px cyan;
	background-color: cyan;
	opacity: 0.1;
	left: 0px;
	top:0px;

}

.addFrameOverlay {
	width: var(--frame-width); 
	height: var(--vertical-spacing);
	position: absolute;
	cursor: pointer;
}

.addFrameOverlayImg {
	width: 10px;
	height: 10px;
	left: calc(50% - 5px);
	top: calc(50% - 5px);
	position: absolute;
	pointer-events: none;
}

.selectionBox {
	background-color: #CCC;
	box-shadow: inset 0px 0px 1px #555;
	opacity: 0.5;
	position: absolute;
	pointer-events: none;
	width: 0px;
	height: 0px;
	left: 0px;
	top:0px;
}


