#toolbarGUI {
    top: 30px;
    left: 0px;
    height: calc(100%);
    width: 40px;
    text-align: left;
    padding: 3px;
    padding-top: 5px;
    overflow: hidden;
/*    border-left-color: #585757;*/
/*    border-bottom-color: #585757;*/
}

#toolOptionsGUI {
    display: none;
    bottom: 0px;
    left: 0px;
    text-align: left;
}

#tooltipGUI {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #FFFFFF;
    display: none;
    z-index: 11111;
    border: none;
    padding-left:5px;
    padding-right: 5px;
    box-shadow: 2px 2px 2px #AAA;
}

.toolButton {
    height: 28px;
    width: 28px;
    border-radius: 5px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    cursor: pointer;
    margin-left: 6px;

    background-repeat: no-repeat;
    background-position: center;
    text-overflow: clip;
    overflow: hidden;
    background-size: 100% 100%;

    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}
.toolButton:hover {
    background-color: #31E19C;
}
.toolButton:active {
    background-color: #658a7c;
}

.toolButtonActive {
    background-color: #333; /*#31E19C;*/
    fill: purple;
}

.drawing-tool-options-container {

}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.toolbar-color {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid white;
    background-color: green;
}

.toolbar-fill-color {

}
