.dropbtn {
    position: absolute;
    background-color: #3498DB;
    color: white;
    padding: 8px;
    font-size: 16px;
    width: 60px;
    border: none;
    cursor: pointer;
    left: 80%; 
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-item {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block; 
    z-index: 12;
}

.dropdown-item:hover {
    background-color: #FFF;
}

.quality-container {
    color: #FFF;
}
.show {
    display:block;
}

#qualitySettingTitle {
    left: 60%;  
}